@page
@model PrivacyModel
@{
    ViewData["Title"] = "Recently Searched";
}
<h1>@ViewData["Title"]</h1>

@{
    if (Model.NumberList.Count() > 0)
    {
        <p>Data saved in session:</p>

        foreach (FizzBuzz.Scripts.FizzbuzzApp fizz in Model.NumberList)
        {
            <p> @Html.DisplayNameFor(model => fizz.Number): @fizz.Number @Html.DisplayNameFor(model => fizz.Result): @fizz.Result @Html.DisplayNameFor(model => fizz.Date): @fizz.Date </p>
        }
    }
    else
    {
        <p>There is not data in session!</p>
    }
}